html {
    font-size: 3.55vw;
}
@media(min-width: 450px) {
    html {
        font-size: 16px;
    }
}

body {
    padding: 1vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    display: none;
    background: #eee;
}

#rankings {
    border-top: 1px solid #ccc;
    border-left: 0;
    padding-top: 20px;
    margin-top: 20px;
}
@media(min-width: 992px) {
    #rankings {
        border-top: 0;
        border-left: 1px solid #ccc;
        padding-top: 0;
        margin-top: 0;
    }
}
#schedule-card .red-team {
    color: #db0007;
}
#schedule-card .blue-team {
    color: #034694;
}
#schedule-card .green-team {
    color: #00a650;
}
#game-list {
    margin-bottom: 20px;
}
#schedule-body .col {
    padding: 0.5rem 0;
}
#schedule-card .header {
    font-weight: bold;
}
